
body{
    margin: 0;
}
header{
    background-color: blue; text-align: center; padding: 10px 0;font-size: 30px
}
#ul1{
    list-style: none; display:flex ; justify-content: space-between; background-color: blue; padding: 10px; flex-grow: 1;
}
.listanav a{
    flex-grow: 1; color: white; text-decoration: none;
}
#html{
    margin-bottom: 35px; padding: left 20px; ; padding-right: 20px; font-family: Verdana; font-size: 100%;
}
.section{
    display: flex; margin-top: 35px; margin-bottom: 20px;
}
#tabela{
    display:flex; color: white; width: 50%; background-color: rgb(71, 71, 184);
}
table{
    color: #fff;border: 2px solid blueviolet;
}
#lista{
    display:flex ; width: 50%; color: white; background-color: rgb(9, 44, 104); flex-flow: column;
}
#sobre{
    display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 20px;
}
.sobre{
    width: 33.33%; height: 200px; padding: 20px;
}
#rodape{
    padding: auto;
}
.rodape{
    display:grid; grid-template-columns: auto auto auto auto ; align-items: flex-start; padding: auto;
}
#direitos{
    text-align: center; margin-top: 20px ;
}
